<!DOCTYPE html>
<html lang="de">
<!--Im HEAD werden allgemeine Einstellungen zur website festgelegt-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Der title erscheint im Browser-TAB-->
    <title>N27 - About</title>
</head>
<!--Im Body steht der Inhalt der Webseite, also alles, was im Browser
angezeigt wird.-->
<body>
    <!--Überschrift der Größe 1-->
    <h1>Über uns</h1>
    
</body>
</html>