<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27 - Startseite</title>
</head>
<body>
    <header>Herzlich Willkommen bei der N27 Bank</header>

    <div>
        Hallo
    </div>

    <p>
        <button type="button">Kontostand anzeigen</button>
    </p>
    <p>
        <button type="button">Einzahlen</button>
    </p>
    <p>
        <button type="button">Auszahlen</button>
    </p>
    <p>
        <button type="button">Überweisung</button>
    </p>

<img src="logo.png" alt="Bank Logo" width="32" height="32">

<a href="https://berufskolleg-borken.de" target="_blank">BKB</a>

<hr>

<table border="1">
    <tr>
        <td>Zeile1 Spalte1</td>
        <td>Zeile1 Spalte2</td>
    </tr>
    <tr>
        <td>Zeile2 Spalte1</td>
        <td>Zeile2 Spalte2</td>
    </tr>
</table>

<ul>
    <li>Listenelement</li>
    <li>Listenelement</li>
</ul>

<ol>
    <li>Listenelement 1</li>
    <li>Listenelement 2</li>
</ol>

    <footer>Impressum</footer>
</body>
</html>

<!--
    Erstellen Sie eine HTML-Startseite
    für unsere Banking-App
    Im Footer steht der Kontakt 
    Impressum
    Im Header steht der Name unserer Bank
    und ein "Herzlich Willkommen"
Im Rumpf werden Buttons eingebaut, 
die zu weiteren Seiten führen

-->