<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>Willkommen bei der N27</h1>            
        </div>
        <div class="navigationsleiste">            
            <a href="/">
                <i class="fa fa-home fa-2x" aria-hidden="true" title="Willkommen"></i>
            </a> --
            <a href="/profile">
                <i class="fa fa-user fa-2x" aria-hidden="true" title="Mein Profil"></i>
            </a>   --
            <a href="/about">
                <i class="fa fa-info fa-2x" aria-hidden="true" title="Über uns"></i>
            </a>   --
            <a href="/login">
                <i class="fa fa-sign-out fa-2x" title="Abmelden"></i>
            </a>
        </div>
        <div class="inhaltsbereich"></div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>