<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27 - Über uns</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Über uns</h1>
        </div>
        <div class="navigationsleiste">            
            <a href="/">
                <i class="fa fa-home fa-2x" aria-hidden="true" title="Willkommen"></i>
            </a> --
            <a href="/profile">
                <i class="fa fa-user fa-2x" aria-hidden="true" title="Mein Profil"></i>
            </a>   --
            <a href="/about">
                <i class="fa fa-info fa-2x" aria-hidden="true" title="Über uns"></i>
            </a>   --
            <a href="/support">
                <i class="fa fa-phone-square fa-2x" aria-hidden="true" title="Über uns"></i>
            </a>   --
            <a href="/login">
                <i class="fa fa-sign-out fa-2x" title="Abmelden"></i>
            </a>
        </div>
        <div class="inhaltsbereich">
            <form>
                <h1>Nutzungsbedingungen</h1>
                
                <h2>Kontozugriff und Sicherheit</h2>
                
                <p>1.1. Sicherheit Ihrer Zugangsdaten liegt in Ihrer Verantwortung.</p>
                <p>1.2. Melden Sie Sicherheitsverletzungen sofort.</p>
                
                <h2>Nutzung der Dienstleistungen</h2>
                                    
                <p>2.1. Nutzung für legitime Transaktionen gestattet.</p>
                <p>2.2. Verbot von betrügerischen Aktivitäten; Überprüfung und Ablehnung vorbehalten.</p>
                
                <h2>Haftungsausschluss</h2>
                
                <p> 3.1. Keine Haftung für unbefugten Zugriff oder eigenes Verschulden.</p>
                <p> 3.2. Beachten Sie Risiken wie Internetverbindungsprobleme.</p>
                
                <h2>Datenschutz und Sicherheit</h2>
            
                <p> 4.1. Persönliche Informationen gemäß Datenschutzgesetzen geschützt.</p>
                <p> 4.2. Details in Datenschutzerklärung nachlesbar.</p>
            
                <h2>Änderungen der Nutzungsbedingungen</h2>
            
                <p>5.1. Wir können Bedingungen ändern; Änderungen gelten sofort.</p>                
                <p>5.2. Fortgesetzte Nutzung nach Änderungen gilt als Akzeptanz.</p>
            
                <button class="nutzungsbedingungen" formaction="/">Ich akzeptiere die Nutzungsbedingungen</button>
            </form>
        </div>
        <div class="fusszeile">
            &copy; 2023 GW21A
        </div>
    </div>
</body>
</html>