body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(97, 23, 218);    
    background-image: url('hintergrundbild.jpg');
}

div {
    font-size:xx-small;
    background-color: powderblue;
}

ul {
    list-style: square inside url("icon.png");
}