
.rahmen {
  max-width: 400px;
  /*height: 600px;*/
  border: 3px solid #4CAF50;
  border-radius: 5px;      
  margin: 0 auto
}

.header{
  padding: 5px;
  background: #4CAF50;
  margin-bottom: 20px;
}

.content{
  min-height: 470px;
}

.footer{
  padding: 2px;
  background: #4CAF50;
}

input {  
  width: 80%;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;  
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2em;  
}
  
button {
  width: 80%;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;  
  background-color:darkgray
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;  
}
  
/*.login {
  width: 100%;
  background-color: rgb(119, 107, 107);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 6vw;  
}*/
  
label {
  width: 80%;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;  
      
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;  
  color:black;
}

.meldung {
  width: 80%;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;  
  color: red;
}
  
.divii {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin: 0 auto
}
  
h1 {  
  text-align: center;
  color: white;
  font-size: 3vh; 
  font-family: Arial, Helvetica, sans-serif;
}
  
h2 {  
  color: #4CAF50;  
  font-size: 6vw; 
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}
  
  nav {  
    font-family: Arial, Helvetica, sans-serif;    
      background-color: rgb(119, 107, 107);        
      font-size: 4vw;    
      text-align:center;  
      color: white;
      margin: 0 -601.5rem;  
      padding: .25rem 1.5rem;
      border-left: 600rem solid rgb(13, 83, 72);
      border-right: 600rem solid rgb(13, 83, 72);
  }
   
a {  
  color: white;  
  text-decoration: none;
  }
  
p {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw; 
}